.attribution { 
    font-size: 0.8vw; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    font-family: Open Sans;
    margin: 0;
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: -200vw 50vw;
    background-size: 500vw 150vw;
}

#logo {
    width: 10vw;
    position: absolute;
    margin-left: 7vw;
    margin-top: 1vw;
}

#nav {
    font-family: Raleway;
    font-weight: 700;
    position: absolute;
    color: hsl(0, 0%, 75%);
    margin-left: 70vw;
    margin-top: 2vw;
    font-size: 1vw;

    p {
        display: inline;
        margin-left: 4vw;
    }
}

h1, h2, h3 {
    font-family: Raleway;
}

button {
    background-color: hsl(224, 93%, 58%);
    border: 0;
    color: hsl(240, 75%, 98%);
    font-family: Raleway;
}

#ill1, #ill2 {
    width: 40vw;
}

#block1 {
    margin-left: 7vw;
    margin-top: 15vw;
    width: 80vw;
     
    h1 {
        font-size: 2.5vw;
        line-height: 3.5vw;
        width: 37vw;
    }

    p {
        font-size: 1.1vw;
        width: 37vw;
    }

    img {
        position: absolute;
        margin-left: 10vw;
        margin-top: -17vw;
    }

    input {
        font-size: 0.8vw;
        width: 20vw;
        height: 2.3vw;
        color: hsl(0, 0%, 75%);
        padding-left: 1vw;
        border-radius: 0.2vw;
    }

    button {
        border-radius: 0.2vw;
        padding-bottom: 0.7vw;
        padding-left: 4.6vw;
        padding-right: 4.6vw;
        padding-top: 0.9vw;
        font-size: 0.8vw;
        margin-left: 1vw;
        box-shadow: 0vw 0vw 1vw hsl(0, 0%, 75%);
    }
}

#block2 {
    margin-left: 7vw;
    margin-top: 25vw;
    width: 80vw;

    h1 {
        font-size: 2.5vw;
        line-height: 3.5vw;
        width: 39vw;
    }

    p {
        font-size: 1.1vw;
        width: 37vw;
    }

    #works {
        color: hsl(170, 45%, 43%);
        font-family: Raleway;
        font-size: 1.1vw;
        width: 11.5vw;
        border-bottom: 0.1vw solid hsl(170, 45%, 43%);

        img {
            width: 1vw;
            position: absolute;
            margin-left: 0.2vw;
            margin-top: 0.2vw;
        }
    }

    #quote {
        background-color: white;
        box-shadow: 0vw 0vw 1vw hsl(0, 0%, 75%);
        width: 20vw;
        height: 10vw;
        border-radius: 0.5vw;
        padding: 2vw;
        margin-top: 2vw;
        margin-bottom: 7vw;

        #q {
            width: 0.9vw;
            position: absolute;
        }
        
        p {
            position: absolute; 
            font-size: 0.8vw;
            margin-top: 2vw;
            width: 20vw;
        }

        #avatar {
            border-radius: 50%;
            width: 3vw;
            position: absolute;
            margin-top: 7vw;
        }

        h2 {
            position: absolute;
            margin-left: 3.5vw;
            font-size: 0.8vw;
            margin-top: 7.5vw;
        }

        h3 {
            position: absolute;
            font-size: 0.7vw;
            margin-left: 3.5vw;
            font-weight: 400;
            margin-top: 8.5vw;
        }

    }

    #ill2 {
        position: absolute;
        margin-left: 45vw;
        margin-top: -40vw;
    }
}

#block3 {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    padding-left: 7vw;
    height: 15vw;
    padding-top: 4vw;

    h1 {
        font-size: 1.7vw;
        line-height: 3.5vw; 
        margin-bottom: -0.5vw;
    }

    p {
        font-size: 0.9vw;
        width: 28vw;
    }

    input {
        position: absolute;
        font-size: 0.8vw;
        width: 25vw;
        height: 2.3vw;
        color: hsl(0, 0%, 75%);
        padding-left: 1vw;
        margin-left: 57vw;
        margin-top: -7vw;
        border-radius: 0.2vw;
        box-shadow: 0vw 0vw 0.5vw rgb(62, 61, 88);
    }

    button {
        position: absolute;
        border-radius: 0.2vw;
        padding-bottom: 0.7vw;
        padding-left: 2.6vw;
        padding-right: 2.6vw;
        padding-top: 0.9vw;
        font-size: 0.8vw;
        margin-left: 57vw;
        margin-top: -3.5vw;
        box-shadow: 0vw 0vw 0.5vw rgb(62, 61, 88);
    }
}

#bottom {
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
    height: 20vw;

    #logo2 {
        margin-left: 7vw;
        margin-top: 4vw;
        width: 10vw;
    }

    #container {
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
        margin-top: 1vw;
        font-size: 0.8vw;
        line-height: 2vw;

        #col1 {
            margin-left: 1vw;

            img {
                margin-right: 0.2vw;
                width: 1vw;
            }
        }

        #col2 {
            margin-left: 12vw;
        }

        #col3 {
            margin-left: 12vw;
        }

        #icons {
            margin-left: 12vw;

            ion-icon {
                border: 0.1vw solid white;
                padding: 0.3vw;
                width: 0.8vw;
                height: 0.8vw;
                border-radius: 50%;
            }
        }
    }
}